*~
bin
obj
packages
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
*.feature.cs
.vs
_sgbak
_sgvault
*.vspscc
*.vssscc
*.tmp
*.db3
*.docx
~*
ThirdParty/*
CruiseControl
deploy/
**/generated/*.cs
Hinweis*.rtf
Get*.bat
MSBuild.Community.Tasks.dll
ICSharpCode.*.dll
NUnitResult-*.xml
*.tlog
src/Pace/PLFPO/CC/CC.Common.Native/Debug/
src/Pace/PLFPO/CC/CC.Common.Native/Release/
logs/
*.sdf
*.opensdf
ExecuteBCATCalculations.cmd
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m120001-D0.generic.PathCalcStratRoCMks.log.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m120001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m120001-D0.generic.out.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m140001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m160001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI10-m180001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI150-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI150-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI150-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI150-m180000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI50-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI50-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI50-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.RefTest.APi.BlackBoxTest/ReferenceTests/Winpep234DescentPath/Winpep234DescentPath-CI50-m180000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI010-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI010-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI010-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI010-m180000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI050-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI050-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI050-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI050-m180000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI150-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI150-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/ClimbPath/ClimbPath-CI150-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath.Point.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI010-m120001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI010-m140001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI010-m160001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI010-m180001-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI050-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI050-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI050-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI050-m180000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI150-m120000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI150-m140000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI150-m160000-D0.generic.csv
Test/Pace/PLFPO/Tools/Tools.UnitTest/Data/DescentPath/DescentPath-CI150-m180000-D0.generic.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/CasMachTestProfile.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/FIT27169_FL320_3PhaseCrs.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/FIT27169_FL340_1PhaseCrs.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/FmsCiSpeedRangeCheckerProfileDecCiSpeed.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/FmsCiSpeedRangeCheckerProfileIncCiSpeed.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL200-030-M070-068-CAS250-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL200-030-M070-068-CAS250-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL200-030-M070-068-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL200-030-M070-068-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M080-080-CAS270-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M080-080-CAS270-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-083-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-083-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-CI0-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-CI0-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-CI100-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-HiCoAlt-FL360-030-M084-CI100-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL050-030-M041-040-CAS250-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL050-030-M041-040-CAS250-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL050-030-M041-040-CAS270-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL050-030-M041-040-CAS270-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS210-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS210-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS220-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS220-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS230-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL100-030-M041-040-CAS230-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS210-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS210-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS220-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS220-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS230-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS230-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS250-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS250-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS270-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL120-030-M041-040-CAS270-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS210-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS210-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS220-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS220-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS230-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS230-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS250-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS250-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS270-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCOALT-FL130-030-M041-040-CAS270-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-040-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-040-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-043-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-043-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-046-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M050-046-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M052-050-CAS330-FIT26261.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/RegressionTest-LowCoAlt-FL150-030-M052-050-CAS330-RB661.csv
Test/Pace/PLFPO/CC/CC.Shell.BlackBoxTest/Data/FlightProfileCalculatorTest.TestCasMach.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/FIT26175.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/LowCoAltDescentTest-LowCOALT-FL090-030-M048-047-CAS270.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/LowCoAltDescentTest-LowCOALT-FL120-030-M048-047-CAS270.csv
Test/Pace/PLFPO/CC/CC.FP.PathCalculation.BlackBoxTest/Phases/LowCoAltDescentTest-LowCOALT-FL130-030-M048-047-CAS270.csv
Test/Pace/PLFPO/CC/CC.Optimization.BlackBoxTest/Data/LH729-PVG-FRA.csv
Test/Pace/PLFPO/CC/CC.Optimization.BlackBoxTest/Data/LH779-SIN-FRA.csv
Test/Pace/PLFPO/CC/CC.TrajectorySolver.BlackBoxtest/PreAnalysis/CiLoopController/Data/CiLoopControllerTest.Result.txt
Test/Pace/PLFPO/CC/CC.TrajectorySolver.BlackBoxtest/PreAnalysis/CiLoopController/Data/CiVariationTest.Result.txt
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/InflightStepEqualMachConstraintForConstMachRegion.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/InflightTocEqualMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightEqualMachConstraintRangeAboveDoesNotImpactClimb.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightEqualMachConstraintRangeMustImpactInitialClimb.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightStepClimbInEqualMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightTocEqualMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightTocMinMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/PreflightTocNoMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightEqualMachConstraintAtTodAltitudeDoesNotImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightEqualMachConstraintRangeBeforeDoesNotImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightEqualMachConstraintRangeBelowDoesNotImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightEqualMachConstraintRangeMustImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightMaxMachConstraintDoesNotImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightMinMachConstraintDoesNotImpactDescent.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightNoMachConstraint.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Climb/InflightStepEqualMachConstraintForConstMachRegionEndingWithinStep.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/B-02254_ClbDesConstMachConstraint/Descent/PreflightOverlappingEqualMachConstraintRangesFailInCruise.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_a.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_b.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_c.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_d.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_e.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_f.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_g.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_h.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_i.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_j.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_k.csv
Test/Pace/PLFPO/CC/CC.FP.TrajectoryCalculation.BlackBoxTest/Defects/D01112_ConstrainedMach/D01112_l.csv
Solutions/Pace/PLFPO/CC/Pace.PLFPO.CC.VC.db
Solutions/Pace/PLFPO/CC/Pace.PLFPO.CC.VC.VC.opendb
CustomerPackages/
src/TXT/Deployment/airports.dat
Services/ServicePackages/
WebAccessPoint/DeploymentPackage/
src/TXT/Source/FPOPorting/FPOPorting/FPOPorting.Android/Resources/Resource.Designer.cs
src/TXT/Source/Dependencies/
SpecFlowRun
/EventIds.xlsx
/EventIds_NEW.xlsx
Documents/IntegrationSpecFlowBindings.md
Documents/ComponentSpecFlowBindings.md
*.lock.json
*.DS_Store
/Deployment/DEV
/Deployment/DEV-LH
tmp/
Test/Pace/PLFPO/CloudCC/CloudCC.Deployment.Playground/cdk.out/
